* {
    all: unset;
    font-family: "Caskaydia Cove Nerd Font", monospace;
}

.dock {
    background-color: #3d3837;
    color: #c8baa4;
    border-radius: 8px;
}

.label {
    padding: 0px 4px;
    font-size: 20px;
}

.title {
    padding: 4px 8px;
    font-size: 16px;
}

.artist {
    padding: 4px 0px;
    font-size: 12px;
  	color: #998996;
}

.player {
    padding: 12px 0px;
}

.icons {
    padding: 0px 24px;
    font-size: 24px;
}

.icons button {
    padding: 4px 16px 0px;
    border-radius: 8px;
    color: #d9b27c;
    transition: color .4s;
}

.icons button:hover {
    color: #d08b65;
}

.locale {
    min-width: 360px;
    padding: 24px 0px;
}

.time {
    padding: 8px 0px;
    font-size: 48px;
}

.date {
  	padding: 8px 0px;
    font-size: 16px;
}

.metrics, .controls, .music {
    min-width: 360px;
    margin: 8px 16px;
    padding: 16px 0px;
    background-color: #302c2b;
    border-radius: 8px;
}

.cpu, .ram, .temp, .brightness, .volume {
    font-size: 18px;
    padding: 8px 2px;
}

.cpu scale trough, .ram scale trough, .temp scale trough {
    all: unset;
    min-height: 6px;
    min-width: 240px;
    margin: 0px 8px;
    padding: 4px;
    background-color: #3d3837;
    border-radius: 8px;
}

.cpu scale trough highlight {
    all: unset;
    min-height: 5px;
    background-color: #729797;
    border-radius: 4px;
}

.ram scale trough highlight {
    all: unset;
    min-height: 5px;
    background-color: #95a882;
    border-radius: 4px;
}

.temp scale trough highlight {
    all: unset;
    min-height: 5px;
    background-color: #c65f5f;
    border-radius: 4px;
}

.brightness scale trough, .volume scale trough {
    all: unset;
    min-height: 4px;
    min-width: 240px;
    margin: 0px 10px;
    background-color: #3d3837;
    border-radius: 2px;
}

.brightness scale trough highlight, .volume scale trough highlight {
    all: unset;
    background-color: #d9b27c;
    border-radius: 2px;
}

.brightness slider {
    background-color: #3d3837;
    color: #3d3837;
}

.commands {
    min-width: 360px;
    margin: 16px 0px 0px;
}

.commands button {
    margin: 0px 4px;
    padding: 8px 0px 0px;
    font-size: 28px;
    background-color: #3d3837;
    border-radius: 8px;
    transition: color .5s;
}

.commands button:hover {
    color: #f4f4f4;
}
