# Directories to ignore
autostart/
BraveSoftware/
BetterDiscord\ Installer/
betterlockscreen/
bottom/
bpytop/
cat_installer/
cef_user_data/
Code/
Code\ -\ OSS/
chromium/
clangd/
dconf/
discord/
Electron/
emacs/
eog/
GIMP/
gdb/
git/
gitui/
gtk-2.0/
gtk-3.0/
htop/
ibus/
ipython/
JetBrains/
jupyter/
kak/autoload/
kak/plugins/
libreoffice/
matplotlib/
menus/
mono.addins/
mpcframework/
nvim.backup/
nvim/.git*
obsidian/
ParaView/
Pinta/
procps/
protonmail/
pulse/
QNAP/
qt5ct/
rational-emacs
spotify/
spotify-tui/
spotifyd/
superpaper/
supertuxkart/
systemd/
sway/
typioca/
VirtualBox/
vlc/
wireshark/

# Files to ignore
krita*
QtProject.conf
zoomus.conf
pavucontrol.ini
