# Directories to ignore
BraveSoftware/
betterlockscreen/
bottom/
bpytop/
cef_user_data/
chromium/
clangd/
dconf/
discord/
emacs/
eog/
GIMP/
git/
gtk-2.0/
gtk-3.0/
htop/
ibus/
libreoffice/
plugins/
matplotlib/
menus/
mono.addins/
mpcframework/
nvim.backup/
nvim/.git*
ParaView/
Pinta/
procps/
pulse/
QNAP/
qt5ct/
rational-emacs
spotify/
spotify-tui/
spotifyd/
superpaper/
supertuxkart/
systemd/
sway/
VirtualBox/
vlc/
wireshark/

# Files to ignore
krita*
QtProject.conf
zoomus.conf
pavucontrol.ini
