# Directories to ignore
Atom/
BraveSoftware/
betterlockscreen/
bottom/
bpytop/
cef_user_data/
chromium/
dconf/
discord/
discordcanary/
Electron/
htop/
ibus/
libreoffice/
menus/
Pinta/
procps/
pulse/
QNAP/
qt5ct/
spotify/
spotify-tui/
spotifyd/
superpaper/
systemd/
vlc/
wireshark/
gtk-2.0/
gtk-3.0/
mono.addins/

# Files to ignore
krita*
QtProject.conf
zoomus.conf
pavucontrol.ini
