;    __________  _____
;   / ____/ __ \/ ___/
;  / / __/ / / /\__ \  Gabriel Dos Santos
; / /_/ / /_/ /___/ /  https://github/dssgabriel
; \____/_____//____/
;
; My configuration for polybar, the status bar tool.
;
; To learn more about how to configure polybar
; go to https://github.com/polybar/polybar


; -- SETUP -- ;

[colors]
bg = #1b1c1d
bg-alt = #323436
bg-int = #282a2c
fg = #d1d0c5
accent = #e2b714


; -- BARS -- ;

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/barbase]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
;offset-y = ${env:y}
;width = 100%
height = 32
fixed-center = true

background = ${colors.bg}
foreground = ${colors.fg}

underline-size = 4
underline-color = ${colors.accent}

font-0=mononoki Nerd Font:size=13;3
font-1=mononoki Nerd Font:size=21;5

modules-left = ewmh
modules-center = title
modules-right = arrow1 cpu arrow2 memory arrow1 battery arrow2 network arrow1 date arrow0 powermenu

wm-name = LeftWM

tray-position = none

enable-ipc = false


; -- SETTINGS -- ;

[settings]
throttle-output = 5
throttle-output-for = 10

screenchange-reload = false

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over


; -- MODULES -- ;

[module/ewmh]
type = internal/xworkspaces

pin-workspaces = true
enable-click = true
enable-scroll = true


format = <label-state>
format-padding = 1

label-active = %name%
label-active-foreground = ${colors.fg}
label-active-background = ${colors.bg-alt}
label-active-underline = ${colors.accent}
label-active-padding = 1

label-urgent = %name%
label-occupied = %name%
label-occupied-background = ${colors.bg-int}
label-occupied-padding = 1

label-empty = %name%
label-empty-foreground = ${colors.fg}
label-empty-padding = 1

; ---------------------------------------------------------------------------- ;

[module/title]
type = internal/xwindow

format = <label>
format-background = ${colors.bg}
format-foreground = ${colors.fg}
format-padding = 1

label = %title%
label-maxlen = 30

label-empty = None

; ---------------------------------------------------------------------------- ;

[module/cpu]
type = internal/cpu
interval = 1
format = <label>
label = 閭 %percentage%%
format-background = ${colors.bg-alt}
format-foreground = ${colors.fg}
format-padding = 1

; ---------------------------------------------------------------------------- ;

[module/memory]
type = internal/memory
interval = 1
label = 力 %percentage_used%%
format-background = ${colors.bg}
format-padding = 1

; ---------------------------------------------------------------------------- ;

[module/battery]
type = internal/battery
battery = BAT1
adapter = ACAD

full-at = 99
poll-interval = 5

format-charging = <animation-charging>  <label-charging>
format-charging-background = ${colors.bg-alt}
format-charging-foreground = ${colors.fg}
format-charging-padding = 1

format-discharging = <ramp-capacity>  <label-discharging>
format-discharging-background = ${colors.bg-alt}
format-discharging-foreground = ${colors.fg}
format-discharging-padding = 1

label-charging = %percentage%%
label-discharging = %percentage%%

label-full =   100%
label-full-background = ${colors.bg-alt}
label-full-foreground = ${colors.fg}
label-full-padding = 1

animation-charging-0=
animation-charging-1=
animation-charging-2=
animation-charging-3=
animation-charging-4=
animation-charging-framerate=1000

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

; ---------------------------------------------------------------------------- ;

[module/network]
type = internal/network
interface = wlp0s20f3

interval = 1
accumulate-stats = true
unknown-as-up = true

format-connected = <ramp-signal> <label-connected>
format-connected-background = ${colors.bg}
format-connected-foreground = ${colors.fg}
format-connected-padding = 1

format-disconnected = <label-disconnected>
format-disconnected-background = ${colors.bg}
format-disconnected-foreground = ${colors.fg}
format-disconnected-padding = 1

label-disconnected = 睊 Disconnected
label-connected = %essid%
ramp-signal-0 = 直

; ---------------------------------------------------------------------------- ;

[module/date]
type = internal/date
interval = 1.0

time = %I:%M %p
time-alt = %Y/%m/%d%

format = <label>
format-background = ${colors.bg-alt}
format-foreground = ${colors.fg}
format-padding = 1
label = %time%

; ---------------------------------------------------------------------------- ;

[module/powermenu]
type = custom/menu

expand-right = true

menu-0-0 = Reboot
menu-0-0-exec = menu-open-1
menu-0-1 = Shutdown
menu-0-1-exec = menu-open-2

menu-1-0 = Back
menu-1-0-exec = menu-open-0
menu-1-1 = Reboot
menu-1-1-exec = systemctl reboot

menu-2-0 = Shutdown
menu-2-0-exec = systemctl poweroff
menu-2-1 = Back
menu-2-1-exec = menu-open-0

format-spacing = 1
format-background = ${colors.accent}
format-foreground = ${colors.bg}
format-padding = 2

label-open = 襤
label-close = 
label-separator = ⏽


; -- STYLE -- ;

[module/arrow0]
type = custom/text
content-background = ${colors.bg-alt}
content-foreground = ${colors.accent}
content = "%{T2}%{T-}"
content-font = 2

[module/arrow1]
type = custom/text
content-background = ${colors.bg}
content-foreground = ${colors.bg-alt}
content = "%{T2}%{T-}"
content-font = 2

[module/arrow2]
type = custom/text
content-background = ${colors.bg-alt}
content-foreground = ${colors.bg}
content = "%{T2}%{T-}"
content-font = 2
