configuration {
	terminal: 			"kitty";
    font:               "Victor Mono Medium 14";
	cycle:				true;
	hide-scrollbar: 	true;
	disable-history:	false;
}
@theme "/home/gabrl/.config/rofi/themes/chocolate.rasi"
